confirm {
  ion-card {
    padding: 10px;
    width: 80% !important;
    overflow: hidden;
    margin-left: 10% !important;
    margin-top: 40% !important;
    ion-card-header{
      font-weight: bold;
    }
    font-size:3em !important;
  }
}
