qr {
  ion-card {
    padding: 10px;
    width: 60% !important;
    overflow: hidden;
    margin-left: 20% !important;
    margin-top: 40% !important;
    ion-card-header {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}


